.pagination {
  align-self: flex-end;
  &__container {
    margin: 100px 0;
    display: flex;
    align-items: center;
    justify-content: center;

    span {
      width: 40px;
      height: 40px;
      cursor: pointer;
      display: flex;
      align-items: center;
      justify-content: center;
      outline: 1px solid #e4e4e7;

      &:nth-child(1) {
        border-radius: 6px 0 0 6px;
      }
      &:nth-last-child(1) {
        border-radius: 0 6px 6px 0;
      }
    }
  }
}
